@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* RESETING */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

@theme {
    /* 
    ** FONTS **
    */
    --font-common: "Inter", sans-serif;
    --font-title: "Outfit", sans-serif;

    /* 
    ** TEXT-SIZE **
    */
    --size-label-sml: 0.830rem;
    --size-label-sm: 0.930rem;
    --size-label-md: 0.906rem;
    --size-label-lg: 0.938rem;
    --font-title: "Outfit", sans-serif;

    /* 
    ** COLORS **
    */
    --color-primary: #005CA2;
    --color-secondary: #D0E9FF;
    --color-accent: #3D69D8;
    --color-body-background: #F8FBFF;

    --color-title: #171719;
    --color-subtitle: #4C4B4F;
    
    /* 
    ** GRADIENTS **
    */

    /* 
    ** SHADOWS **
    */
}

html {
    scroll-behavior: scroll-smooth;
}

body {
    @apply bg-body-background font-(family-name:--font-common);
}

button {
    @apply cursor-pointer;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* COMPONENTS */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* BUTTON */
.button {
    @apply px-[1.400rem] py-[.900rem] font-semibold grid place-items-center 
    text-body-background rounded-[.5rem] transition-[transform,background] 
    active:scale-95 items-center gap-2;
}

.btn-primary {
    @apply bg-gradient-to-r from-accent/95 to-primary/95 
    hover:from-accent hover:to-primary 
    shadow-primary/30 shadow-sm;
}

.btn-secondary {
    @apply bg-secondary text-primary 
    hover:bg-[#B5D9F5];
}

.button.small {
    @apply text-(length:--size-label-sml);
}

/* NAVBAR */

.navbar {
    @apply absolute grid gap-2 md:gap-4 max-md:mt-2 top-full right-0 invisible opacity-0 isolate min-w-40 scale-90 pointer-events-none ring-1 ring-zinc-500/70 backdrop-blur-2xl p-2 bg-primary text-body-background rounded-2xl transition-[opacity,transform,filter] md:bg-transparent md:text-subtitle md:ring-0 md:static md:opacity-100 md:visible md:flex md:backdrop-blur-none md:pointer-events-auto;
}

.navbar.active {
    @apply visible pointer-events-auto opacity-100 scale-100 transition-[opacity,transform,filter];
}

.nav-link {
    @apply grid items-center px-4 h-10 font-semibold md:hover:text-title  max-md:active:bg-body-background rounded-[.5rem] max-md:active:text-title max-md:hover:bg-body-background/20 text-(length:--size-label-lg);
}

.nav-link.menu-btn {
    @apply mt-5 md:hidden bg-secondary/95 hover:bg-secondary font-bold text-primary relative text-center before:w-[95%] before:h-[.5px] before:justify-self-center before:content-[''] before:absolute before:bg-body-background/50 before:top-[-50%] ; 
}


/* NAVBAR BUTTON */

.nav-button {
    @apply w-10 h-10 grid items-center justify-center bg-primary/90 text-body-background rounded-xl md:hidden
    hover:bg-primary active:scale-95 ring-2 ring-zinc-50/70 backdrop-blur-2xl;
}
