@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* RESETING */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

@theme {
    /* 
    ** FONTS **
    */
    --font-common: "Sora", sans-serif;
    --font-title: "Outfit", sans-serif;

    /* 
    ** COLORS **
    */
    --color-primary: #005CA2;
    --color-secondary: #D0E9FF;
    --color-accent: #3D69D8;
    --color-body-background: #F8FBFF;

    --color-title: #292A2F;
    --color-subtitle: #4C4B4F
    
    /* 
    ** GRADIENTS **
    */
    --gradient-main: linear-gradient(to right, var(--color-accent), var(--color-primary));
}

html {
    scroll-behavior: scroll-smooth;
}

body {
    background-color: var(--gradient-main);
    @apply bg-body-background font-(family-name:--font-common);
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/* COMPONENTS */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* BUTTON */
.button {
    @apply w-10 h-10 grid place-items-center text-body-background rounded-xl bg-primary/90 hover:bg-primary backdrop-blur-2xl transition-[transform,background-color] active:scale-95;
    
}

.button.edge {
    @apply ring-inset ring-1 ring-secondary/50;
}

.button.mobile {
    @apply md:hidden;
}

/* NAVBAR */

.navbar {
    @apply absolute grid gap-2 top-full right-0 invisible opacity-0 isolate min-w-40 scale-90 pointer-events-none ring-1 ring-zinc-500/70 backdrop-blur-2xl p-2 bg-primary text-body-background mt-2 rounded-2xl transition-[opacity,transform,filter] md:bg-transparent md:text-subtitle md:ring-0 md:static md:opacity-100 md:visible md:flex;
}

.navbar.active {
    @apply visible pointer-events-auto opacity-100 scale-100 transition-[opacity,transform,filter];
}

.nav-link {
    @apply grid items-center px-4 h-10 active:bg-body-background rounded-xl active:text-title hover:bg-body-background/20 text-xl;
}
