@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&display=swap');

@import 'tailwindcss';
@plugin 'tailwind-scrollbar';

@import 'swiper/css/pagination';
@import 'swiper/css/scrollbar';
@import 'swiper/css';
@import 'swiper/css/effect-coverflow';

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/** RESETING */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

@theme {
    /* 
    /* ? FONTS 
    */
    --font-common: 'Sora', sans-serif;
    --font-title: 'Poppins', sans-serif;

    /* 
    /* ? TEXT-SIZE 
    */

    /* links */
    --size-links: 1rem;

    /* label */
    --size-label-ssml: 0.75rem;
    --size-label-sml: 0.79rem;
    --size-label-sm: 0.8rem;
    --size-label-md: 0.85rem;
    --size-label-lg: 0.87rem;
    --size-label-xl: 0.89rem;

    /* caption */
    --size-caption-ssml: 0.8rem;
    --size-caption-sml: 0.85rem;
    --size-caption-sm: 0.9rem;
    --size-caption-md: 0.95rem;
    --size-caption-lg: 0.99rem;
    --size-caption-xl: 1.1rem;

    /* title */
    --size-title-sml: 1.6rem;
    --size-title-sm: 2rem;
    --size-title-md: 2.5rem;
    --size-title-lg: 2.6rem;
    --size-title-xl: 2.7rem;

    /* headline */
    --size-headline-ssml: 2rem;
    --size-headline-sml: 2.22rem;
    --size-headline-sm: 2.55rem;
    --size-headline-md: 3.3rem;
    --size-headline-lg: 3.5rem;
    --size-headline-xl: 3.6rem;

    /* 
    /* ? COLORS 
    */

    --color-primary: #005ca2;
    --color-secondary: #c2dbff;
    --color-secondary-lighter: #dae9ff;
    --color-accent: #3d69d8;
    --color-body-background: #fafafa;

    --color-title: #1b1b1b;
    --color-subtitle: #444444;

    /* 
    /* ? BREAKING POINTS
    */
    --breakpoint-sml: 25rem;
    --breakpoint-ssml: 21.43rem;
}

html {
    scroll-behavior: scroll-smooth;
    height: 300vh;
}

body {
    @apply bg-body-background overflow-x-hidden font-(family-name:--font-common);
}

button {
    @apply cursor-pointer;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/** COMPONENTS */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

/* ? BUTTON */
.button {
    @apply text-body-background grid place-items-center items-center gap-2 rounded-[.3rem] px-[3rem] py-[.800rem] text-[13px] font-semibold transition-[transform,translate,background] duration-200 active:scale-95 md:text-[14px] lg:px-[1.400rem] lg:text-[15px];
}

.btn-primary {
    @apply from-accent/95 to-primary/95 hover:from-accent hover:to-primary bg-gradient-to-r shadow-[0px_4px_54px_0px_rgba(0,_0,_0,_0.2)] transition-all duration-200 hover:translate-y-[-3px];
}

.btn-secondary {
    @apply bg-secondary text-primary hover:bg-[#B5D9F5];
}

.button.small {
    @apply text-(length:--size-label-sml);
}

/* ? NAVBAR */

.navbar {
    @apply bg-primary text-body-background lg:text-subtitle pointer-events-none invisible absolute top-full right-0 isolate grid min-w-40 scale-90 gap-2 rounded-2xl p-2 opacity-0 ring-1 ring-zinc-500/70 backdrop-blur-2xl transition-[opacity,transform,filter] max-lg:mt-2 lg:pointer-events-auto lg:visible lg:static lg:flex lg:gap-4 lg:bg-transparent lg:opacity-100 lg:ring-0 lg:backdrop-blur-none;
}

.navbar.active {
    @apply pointer-events-auto visible scale-100 opacity-100 transition-[opacity,transform,filter];
}

.nav-link {
    @apply md:hover:text-title max-md:active:bg-body-background max-md:active:text-title max-md:hover:bg-body-background/20 grid h-10 items-center rounded-[.5rem] px-4 text-(length:--size-links) font-semibold;
}

.nav-link.menu-btn {
    @apply bg-secondary/95 hover:bg-secondary text-primary before:bg-body-background/50 relative mt-5 text-center font-bold before:absolute before:top-[-50%] before:h-[.5px] before:w-[95%] before:justify-self-center before:content-[''] lg:hidden;
}

/* ? NAVBAR BUTTON */

.nav-button {
    @apply bg-primary/90 text-body-background hover:bg-primary grid h-10 w-10 items-center justify-center rounded-xl ring-2 ring-zinc-50/70 backdrop-blur-2xl active:scale-95 lg:hidden;
}

/* ? PLAYER */

.player {
    @apply h-100;
}

/* ? SWIPER */

.swiper-pagination-bullet {
    transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
    @apply w-4 rounded-2xl bg-blue-500 opacity-100;
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/** UTILITIES */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

.container {
    @apply mx-auto px-4 max-sm:max-w-3xl lg:px-8;
}

.headline {
    @apply ssml:text-(length:--size-headline-sml) sml:text-(length:--size-headline-sm) text-title max-w-150 font-(family-name:--font-title) text-(length:--size-headline-ssml) leading-12 font-bold tracking-tighter md:text-(length:--size-headline-md) md:leading-18 lg:text-(length:--size-headline-lg) lg:leading-18 lg:tracking-tight xl:text-(length:--size-headline-xl);
}

.title {
    @apply sml:leading-11 sml:text-(length:--size-title-sm) text-title max-w-125 font-(family-name:--font-title) text-(length:--size-title-sml) leading-9 font-semibold tracking-tighter md:text-(length:--size-title-md) md:leading-14 lg:text-(length:--size-title-lg) lg:leading-15 xl:text-(length:--size-title-xl);
}

.caption {
    @apply text-accent before:bg-accent ssml:text-(length:--size-caption-sml) sml:text-(length:--size-caption-sm) relative ml-8 text-(length:--size-caption-ssml) font-medium tracking-tight before:absolute before:top-[50%] before:left-[-30px] before:h-[1.5px] before:w-5 before:translate-y-[-150%] before:content-[''] md:text-(length:--size-caption-md) lg:text-(length:--size-caption-lg) xl:text-(length:--size-caption-xl);
}

.subtitle {
    @apply ssml:text-(length:--size-label-sml) sml:text-(length:--size-label-sm) text-subtitle max-w-130 text-(length:--size-label-ssml) tracking-tight md:text-(length:--size-label-md) lg:text-(length:--size-label-lg) xl:text-(length:--size-label-xl);
}

.headline b,
.title b {
    @apply from-accent to-primary w-fit bg-gradient-to-r bg-clip-text pr-0.5 font-bold text-transparent;
}

.title b {
    @apply font-semibold;
}

.clip-triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */
/** SECTION */
/* ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ */

section.gradient-section {
    @apply from-secondary via-secondary-lighter to-body-background rounded-b-[30px] bg-gradient-to-t from-0% via-10% to-100% md:rounded-b-[50px] lg:rounded-b-[70px];
}
